@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    cursor:  url('./assets/mouse.jpg') !important; 
     /*max-width: 1366px;*/
    position: relative;
    background-color: #f7f7f7;
}
body h1, body h2, body h3{
    font-family: 'Press Start 2P', cursive;
}
body p{
    font-family: 'Roboto', sans-serif;
}
.container-start{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: URL('./assets/background-screen.png') no-repeat;
    background-size: cover;
}
.container-start h2{
    color: #e1f4f3;
    font-size: 22px;
}
.container-start form {
    margin-top: 20px;
}
.container-start form input{
    padding: 16px 24px;
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 1px;
}
.container-start form button{
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    display: block;
    margin: 5% auto;
    border: none;
    border-radius: 1px;
    padding: 16px 24px;
    height: 40px;
    background: #58A4FF;
    color: #000;
    transition: all 0.3 ease-out;
}
.container-start form button:hover{
    transform: scale(1.05);
}

.container-game{
    display: none;
    margin: 50px;
}

.container-game h2{
    text-align: center;
    margin: 20px 0;
}

.content-screenRender{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container-jogar{
    padding: 20px;
    margin-top: 20px;
    background-color: #f7f7f7;
    border-style: dashed;
    border-width: 4px;
    border-color: #aa0f90;
}
.container-jogar ul{
    margin-top: 10px;
}
.container-jogar li{
    padding: 5px 0;
}
.container-jogar img{
    width: 100%;
}

.container-pergunta{
    padding: 20px;
    margin: 50px;
    background-color: black;
    border-style: double;
    border-width: 4px;
    border-color: #b38964;

}
.container-pergunta p {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px;
    color: #dcdcdc;
}

.letraA, .letraB, .titlePergunta{
    font-weight: bolder;
    font-size: 18px;
}
.container-pergunta .letraA{
    color: #7de9de;
}
.container-pergunta .letraB{
    color: #e9917d;
}


#screenRender{
    display: block;
    margin: 0 auto;
    min-width: 80%;
    background-image: url("./assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;    border: 2px solid #dcdcdc;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}


.table{
    padding: 20px;
    margin: 50px;
}
.table-points{
    border: 2px solid #333333;  
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;

}
.table-points td{
    border: 1px solid #333333;  
}
.table-points th{
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    background: #e1f4f3;
}
.table-points td{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
}

#acerto, #erro {
    font-family: 'Press Start 2P', cursive;
    padding: 20px 50px;
    font-size: 26px;
    font-weight: bold;
    display: none;
}
#acerto{
    font-size: 26px;
    color: green
}
#erro{
    font-size: 26px;
    color: yellow
}