<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="./assets/favicon-96x96.png" type="image/png">
        <title>getQuiz</title>
        <link rel="stylesheet" href="./style.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        
        <div id="start" class="container-start">
            <h2>getQuiz</h2>
            <form>
                <input type="text" id="apelido" placeholder="Digite seu Nome"/>
                <button onclick="emitStartGame()" type="button">Start</button>
            </form>
        </div>
        <section id="game" class="container-game">
          
            <h2>getQuiz</h2>
            <div class="container-pergunta">
                <p style="margin-bottom: 10px;"><span class="titlePergunta">Pergunta: </span><span id="pergunta"></span> </p>

                <p> <span class="letraA">(A)</span>  <span id="letraA"></span></p>
                <p ><span class="letraB">(B)</span> <span id="letraB"></span> </p>
                <div id="acerto">ACERTOUUUU!!</div>
                <div id="erro">Tenta denovo ai!!</div>
            </div>
            <div class="content-screenRender">
                <canvas id="screenRender" width="640" height="260">
                    Canvas requires a browser that supports HTML5.
                </canvas>
                <div class="table">
                    <table id="points" class="table-points"></table>
                    <div class="container-jogar">
                        <h3>Como Jogar</h3>
                        <ul>
                            <li>Com base nas perguntas que forem aparecendo, fique na direção das alternativas que estão caindo, conforme jogue correto.</li>
                            <li>Quando estiver jogando com mais pessoas, o jogador que pegar a resposta primeiro irá acreditar nos pontos. </li>
                            <li>Quando estiver jogando sozinho, terá todo o tempo para poder pensar em qual alternativa é a correta.</li>
                        </ul>
                     <img src="./assets/movimento.png" alt="">

                    </div>
                </div>
                
            </div>
        </section>
        <footer>
            <p style="text-align: center;font-size: 10px;">Estamos em servidor gratuito em casos de bug, por favor recarregue a página.</p>
        </footer>
        <audio id="playAudio"  autoplay autostart="0" autostart="false" preload ="none" name="media"  >
            <source src="./assets/trilha.mp3" type="audio/mpeg" >
          Your browser does not support the audio element.
          </audio>
    </body>
    <!-- <div>© <a href='https://www.123rf.com/profile_captainvector'>captainvector</a>, <a href='https://www.123rf.com/free-images/'>123RF Free Images</a></div> -->
    <script src="./GameObjects.js"></script>
    <script src="./ObjectsSetup.js"></script>
    <script src="./GameSetup.js"></script>
    <script > 
        const socket = io();
        const game = GameSetup('screenRender');

        function emitStartGame(){
            let playAudio = document.getElementById('playAudio')
            let playerName = document.getElementById('apelido').value != '' ? 
            document.getElementById('apelido').value : alert('Digite seu nome');
            
            if(playerName != undefined){
                return socket.emit('start-game', playerName);
            }
            
            playAudio.play()
        }

        socket.on('add-player', ({getGame, idPlayer})=>{
            
            game.setPlayer(idPlayer);
            game.start(getGame);

            // ? START DETECT COLLISION
            setInterval(() => {
                let detectCollision = game.playerCheckCollision(idPlayer);
                if (detectCollision.collision) return socket.emit('player-collision', detectCollision);
            }, 100);

            document.getElementById('start').style.display = 'none'; 
            document.getElementById('game').style.display = 'block'; 
        
        });

        //  ? PLAYERs
        socket.on('new-player', ({player}) => {
            game.addPlayer(player)    
        });

        socket.on('remove-player', (idPlayer)=>{
            game.removePlayer(idPlayer);
        });

        socket.on('player-update', (player)=>{
            game.movePlayer(player);
        }); 
        socket.on('player-colided', (obj)=>{
            console.log(`Type:`, obj);
            
            game.playerColided(obj);
        });

        // ? PERGUNTAS
        socket.on('pergunta', (pergunta)=>{
            game.addPergunta(pergunta)
        })

        socket.on('add-sugar', (sugar) => {
            game.addSugar(sugar);
            //console.log(sugar)
        });      

        document.addEventListener("keydown", emitKeybordListen);
        
        function emitKeybordListen(e){  
            if(e.key != undefined && e.key === 'ArrowUp' || e.key === 'ArrowLeft' || e.key == 'ArrowRight'){
                socket.emit('key-listen', { id: game.getPlayer(), key: e.key });
            }
        }

    </script>
</html>